<!-- Footer -->
<footer>
  <div class="container-fluid">
    <div class="float-right">
      <a target="_blank" rel="noreferrer noopener" class="hidden-xs" href="/api/">API</a>
      <a target="_blank" rel="noreferrer noopener" href="/docs/">Docs</a>
      <a target="_blank" rel="noreferrer noopener" class="hidden-xs" href="https://github.com/getsentry/sentry">Contribute</a>
    </div>
    <a href="javascript:void(0)" tabindex="-1" class="icon-attention-logo"></a>
  </div>
</footer>
